:root {
    --yellow: #FFCA42;
    --white: #FFFFFF;
    --tropic: #B4C7E7;
    --dark: #141414;
    --blue: #1B3764;
    --antiquewhite: #F6F8FC;
    --black: #000000;
    --aliceblue: #F5F8FC;
}

/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap');

/*fonts*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    box-sizing: inherit;
    font-family: 'Cardo', serif;
}

.wrapper {
    overflow: hidden;
    height: 100%;
}

